<div class="body">


    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-6'>
          <div>
            <app-quotes-form (addQuote)="newQuote($event)"></app-quotes-form> 
           </div>

        </div>
        <div class=' row col-md-6'>
          
            <div *ngFor='let quote of quotes;let delete =index' class="mb-4 d-flex align-items-stretch">
              <div class="card" style="width: 40rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{quote.author}}</h5>
                    <h6 class="card-subtitle mb-2">{{quote.title}}</h6>
                    <p class="card-text">{{quote.quote}}</p>
                    <span class="row">Posted By:<p>{{quote.submitedBy}}</p></span>
                    <span class="row">
                     
                      
                      <a class="pr-5">Upvote
                        <i style='font-size:30px;color:blue' class="far fa-thumbs-up" (click)='upVote(quote)'></i>{{quote.upvotes}}
                      </a>
                      <a class="pr-5">Downvote
                        <i style='font-size:30px;color:red' (click)='downVote(quote)' class="far fa-thumbs-down"></i>{{quote.downvotes}}

                      </a>
                      <a>Delete
                        <i style='font-size:30px;color:red' (click)= 'quoteDelete($event,delete)' class="fas fa-trash"></i>

                      </a>
                      <p class="pl-5">Submited {{quote.date | dateCount}} days ago</p>
                      
                    </span>
                  </div>
                </div>
          </div>
  

        </div>
        

      </div>
    </div>
  </div>